/* importing Montserrat and Fraunces fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
}

.main-container {
  height: 80vh;
  max-height: 550px;
  width: 750px;
  max-width: fit-content;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
}

.perfume-image {
  width: 400px;
  height: 100vh;
  max-height: 550px;
}

/* right side of container */
.perfume-details-container {
  --montserrat: 'Montserrat', sans-serif;
  --fraunces: 'Fraunces', serif;
  --dark-gray-blue-color: hsl(228, 12%, 48%);
  --white-color: hsl(0, 0%, 100%);
  --dark-cyan-color: hsl(158, 36%, 37%);

  background-color: var(--white-color);
  max-width:100%;
  max-height:100%;
  padding: 2em;
}

/* perfume section start */
.perfume-text {
  font-family: var(--montserrat);
  color: var(--dark-gray-blue-color);
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 1em 0;
}
/* perfume section end */

/* perfume title start */
.perfume-name {
  font-family: var(--fraunces);
  padding-bottom: 0.5em;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
}
/* perfume title end */

/* perfume description start */
.perfume-info-details {
  font-family: var(--montserrat);
  color: var(--dark-gray-blue-color);
  line-height: 1.8rem;
  padding-bottom: 1em;
}
/* perfume description end */

/* price section start */
.price {
  font-family: var(--fraunces);
  color: var(--dark-cyan-color);
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1em;
}

.price::after {
  content: '$169.99';
  font-family: var(--montserrat);
  color: var(--dark-gray-blue-color);
  text-decoration: line-through;
  font-size: 0.75rem;
  margin-left: 2em;
  vertical-align: middle;
}
/* price section end */

/* button section start */
.button-cart-text {
  font-family: var(--montserrat);
  font-size: 1.1rem;
  font-weight: bold;
  background-color: var(--dark-cyan-color);
  color: var(--white-color);
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  padding: 1em;
  cursor: pointer;
}

.button-cart-text::before {
  content: url(images/icon-cart.svg);
  padding-right: 1em;
}

.button-cart-text:hover {
  background-color: hsl(154.05, 40.66%, 17.84%);
}
/* button section end */

/* links */
.attribution {
  position: absolute;
  bottom: 0;
}

@media (max-width: 820px) {
  body {
    display: block;
    max-height: fit-content;
    overflow: hidden;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    max-width: 85vw;
    min-height: 95vh;
    margin: 1em auto;
  }
  
  .perfume-image {
    width: 450px;
    height: 325px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }

  .perfume-details-container {
    margin-top: 0;
    padding: 0.5em 2em;
    border-radius: 0 0 5px 5px;
  }

  .perfume-text {
    padding: 0.25em 0;
  }

  .perfume-name {
    padding-bottom: 0.25em;
    font-size: 2.5rem;
  }
   
  .perfume-info-details {
    padding-bottom: 0.25em;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  
  .price {
    padding-bottom: 0.25em;
    font-size: 1.75rem;
  }

  .button-cart-text {
    padding: 0.5em;
    margin-bottom: 0.25em;;
  }

  .attribution {
    display: none;
  }
}